#l_flex{
    border-right: 1px solid gray;
    cursor: pointer;
}

.p-2 > a{
    color: darkolivegreen;
    text-decoration: none;
    background-color: transparent;
    font-size: 13px;
    padding: 6px;
    font-weight: bold;
}
