* {
  box-sizing: border-box;
}

/*
html {
  height: 100%;
}
*/

body {
  font-family: "Open Sans", serif;
  margin: 0 auto;
  height: 100%;
  color: #343a40;
}


/*Menu css start*/

#nopadding {
    padding: 0px;
}

.nav-item {
    padding-right: 30px;
}

.navbar-nav {
    margin-left: 200px;
}


.navbar {
    background: #9F97EA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #9F97EA, #9F97EA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #9F97EA, #9F97EA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/*Menu css end*/

/*Video css start*/
.video{
    padding-top: 55px;
}
.container {
  height: 100%;
  width: 100%;
}

.content {
  width: 80%;
  float: right;
  background-color: #fff;
  height: 30%;
  overflow: auto;
}

.sidebar {
  background-color: #bd5d38;
  width: 20%;
  float: left;
  height: 100%;
  text-align: center;
  line-height: 60px;
  position: fixed;
  overflow: auto;
}

.sidebar ul {
  padding: 80px 0 0 0;
}

.sidebar li {
  list-style: none;
}

.sidebar a {
  text-decoration: none;
  color: #ecebeb;
  font-weight: bold;
  display: block;
  background-color: navy;
  border-bottom: 1px solid #dee2e6;
}

.sidebar a:hover {
    background-color: red;
}

.sidebar a:focus {
    background-color: pink;
}


section {
  padding: 63px;
  border-bottom: 1px solid #dee2e6;
  min-height: 100%;
}

/*Video css end*/


/*footer css start*/

.footer{
    background-color: #2F2F2F;
    height: 400px;
    margin-top: 50px;
}
.f_main{
    margin-top: 40px;

}

.f_main > h3{
    color: white;
    font-size: 16px;
    border-bottom: 1px solid lightslategray;
    padding-bottom: 20px;
    font-weight: 700;
}


.f_menu{
    margin-top: 20px;
}
.f_menu > ul{
    
}
.f_menu > ul > li{
   list-style: none;
    padding-bottom: 16px;
}
.f_menu > ul > li > a{
    color: #999;
    font-size: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, .05);
    padding-bottom: 13px;
    display: block;
}


.f_menu > p{
    line-height: 27px;
    color: #999;
    font-size: 14px;
    text-align: justify;
    
}

.foot_bottom{
    background-color: #252525;
    height: 70px;
}

.f_b_text > p{
    color: #999;
    font-size: 14px;
    padding-top: 28px;
}

/*footer css end*/
